@charset "utf-8";
/* */
    
h1 {
    color: forestgreen;
    font-size: 50px;
    margin: 0px 0px 0px 5px;
}

/* menu */
#link a {
	color:#FF0;
    text-shadow: black 4px 5px 3px;
    font-size: 32px;
    font-weight: 800;
	float:left;
	line-height: 40px;
}

.menu ul {
    list-style-type: none;
	background-color:#42C1FF;
}
.menu ul li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
	margin-right:50px;
	margin-bottom: -5px;
}

.menu ul li a  {
    text-decoration: none;
  	color: #fff;
}
.menu a:hover {
	background-color:#03F;
	display: block;
}
.menu #log {
   position: absolute;
   right: 10px;    
}

/* */
p {
	font-weight:800;
}
span {
	color: #0C0;
}
button {
	color:#FFF;
	font-weight:800;
}
button:hover {
	background-color:#03F;
}